@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav_li_active {
  @apply rounded-sm border-solid border-l-4 block h-full mx-0 my-1 py-2 pl-2 pr-4 w-full;
  color: rgba(67, 68, 73, 1);
  border-color: rgba(63, 81, 181, 1);
  background-color: rgba(241, 241, 244, 1);
}

.booklist_box {
  @apply rounded-sm border-solid border flex mb-2 p-5 gap-5;
  min-height: 270px;
  flex-grow: 2;
  grid-template-columns: 140px 1fr;
  border-color: rgba(228, 229, 233, 1);
  color: rgba(67, 68, 73, 1);
}

.closeFormButton {
  @apply rounded-30 p-0 w-40 h-40 leading-none flex items-center justify-center bg-white text-custom_gray border border-custom_light_gray cursor-pointer;
}

.closeFormSpan {
  @apply border-0 h-1 m-negative_1 overflow-hidden p-0 w-1 whitespace-nowrap absolute;
}

.closeFormDiv {
  @apply flex justify-end;
}

.dialogH3 {
  @apply text-center text-2em font-medium leading-1.2 mb-2 mt-0;
}

.dialogInputField {
  @apply rounded-3 border-custom_light_gray bg-custom_light_gray2 py-8px px-12px;
}

.loginFormDiv {
  @apply m-10px mx-auto w-full max-w-300 flex flex-col;
}

.loginForm {
  @apply flex flex-col items-stretch;
}

.loginFormButtonLogin {
  @apply py-10px px-15px border-0 leading-none rounded-3 text-white bg-custom_blue;
}

.loginFormButtonRegister {
  @apply py-10px px-15px border-0 leading-none rounded-3 text-custom_gray bg-custom_light_gray2;
}

.loginFormButtonDiv {
  @apply m-10px mx-auto w-full max-w-300;
}

.homeContainer {
  @apply flex flex-col items-center justify-center w-full h-100vh;
}

/* .bookShelfH1 {
  @apply text-2em font-medium leading-1.2 mb-0.5 mt-0;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: #ffffff;
  }
}
