@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.closeFormButton {
  @apply rounded-thirty p-0 w-forty h-forty leading-none flex items-center justify-center bg-white text-custom_gray border border-custom_light_gray cursor-pointer;
}

.closeFormSpan {
  @apply border-0 h-1 m-negative_1 overflow-hidden p-0 w-1 whitespace-nowrap absolute;
}

.closeFormDiv {
  @apply flex justify-end;
}

.dialogH3 {
  @apply text-center text-2em font-medium leading-1.2 mb-2 mt-0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: #ffffff;
  }
}
